@font-face {
  font-family: 'DaxlinePro-Regular';
  src: url(../Fonts/DaxlinePro-Regular.otf);
}

@font-face {
  font-family: 'DaxlinePro-Medium';
  src: url(../Fonts/DaxlinePro-Medium.otf);
}

@font-face {
  font-family: 'DaxlinePro-Light';
  src: url(../Fonts/DaxlinePro-Light.otf);
}

@font-face {
  font-family: 'DaxlinePro-Bold';
  src: url(../Fonts/DaxlinePro-Bold.otf);
}